html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    background-size: cover;
    font-weight: bold;
    margin-left: 27px; margin-top: 100px;
    color: rgb(164, 235, 58); /* changed colour from turquoise*/
    
}
h1 {
    color: white;
    position: absolute;
    width: 854px;
    height: 80px;
    left: 52px;
    top: 60px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 0.025em;         /* em is a scalability unit = Font size of the element being styled x Specified value of the element being styled*/
}
h2 {
    color: rgb(164, 235, 58);           /* colour change*/
    position: absolute;
    width: 854px;
    height: 82px;
    left: 54px;
    top: 90px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 0px;
    letter-spacing: 0.035em; /**/
} 
h3{
    color: whitesmoke;
    position: absolute;
    width: 800px;
    height: px;
    left: 54px;
    top: 150px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: 0.035em; /**/
}
output{
    background-color: white;
    color: black;
    font-size: 30px;
    width: 400px;
    padding: 1rem; /**/
    justify-content: center;
    display: flex;
    align-items: center;
    word-break: break-all;
    border-radius: 10px;
}
.container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 2rem; /**/
    

}
/* .form{
display:grid;
grid-template-columns: auto auto;
row-gap: 4rem; /**/*/





.btn{
width: 180px;
background: rgb(164, 235, 58); /* colour change*/
padding-top: 15px;
padding-bottom: 15px;
font-weight: bold;
font-size: 20px;
border: none;
border-radius: 10px;
margin-bottom: 8px;
margin-top: 5px;
margin-right: 10px;
}

.copyBtn{
    width: 180px;
    background: rgb(164, 235, 58); /* colour change*/
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: -20px;
    margin-right: 10px;
}